<header class="cabecalho">
    <!-- Contêiner principal da logo, com bordas arredondadas e sombra -->
    <div class="bg-gradient-to-br from-zinc-700 to-zinc-900 p-6 rounded-xl shadow-2xl">
        <!-- Parte "Dungeon" da logo -->
        <h1 class="logo-text text-4xl font-bold mb-2">
            Dungeon Space
        </h1>
    </div>
    <div class="cabecalho__busca">
        <div class="busca__fundo">
            <input class="busca__input" type="text" placeholder="O que você procura?">
            <i class="fas fa-search busca__icone" alt="ícone de busca"></i>
        </div>
    </div>
</header>